---
title: The 22nd Genomics Standards Consortium Workshop
layout: page
slide_id: 0
---

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">

            <h5>Genomic Standards for Precision Medicine, Agriculture, Comparative Genomics, and Metabolomics</h5>

<p>GSC22 sessions will focus on tackling metadata challenges related to the sample collection, processing and genomic sequencing workflow critical for small and large scale datasets within the fields of medical genomics, agriculture, comparative genomics, and metabolomics tackling metadata challenges related to the sample collection, processing and genomic sequencing workflow critical for small and large scale datasets. It is our intention to discuss and plan for evolving genomic and laboratory standards to address the needs of the clinical, academic and industry researchers with a focus on precision medicine and agriculture.</p>

<h6>Local Hosts:</h6><p> The Faculty of Medicine Siriraj Hospital at Mahidol University and the National Center for Genetic Engineering and Biotechnology (BIOTEC/NSTDA)</p>


                <p>The topics of interest include, but are by no means limited
                to:</p>
				<ul>
                <li>Thing 1</li>
                <li>Thing 2</li>
				</ul>
   </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
{% include card-important-dates.html %}

{% include card-news.html %}
   </div>
</div>
{% include sponsors.html %}

