---
title: The 22nd Genomics Standards Consortium Workshop
layout: page
slide_id: 0
---

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">

            <h5>Genomic Standards in Biodiversity, Climate Change, and Human Health</h5>

<p>The 22nd annual Genomics Standard meeting will occur between November 10-12, 2021 at the Gump Research Station on the Island of Moorea, French Polynesia (https://www.moorea.berkeley.edu/). The GSC consists of international delegates working in collaborative groups to provide a forum for implementing community-driven standards and related protocols. Participants in the GSC include biologists, computer scientists, those building genomic databases and conducting large-scale comparative genomic analyses, and those with experience of building community-based standards.  Since its founding in 2005, the GSC has had the following goals:</p>

* The implementation of new genomic standards<br>
* Methods of capturing and exchanging metadata<br>
* Harmonization of metadata collection and analysis efforts across the wider genomics community<br>
* Standardizing critical protocols in all related genomic research<br>
 
<p>To accomplish these goals, the GSC works closely with leading corporations that develop and supply the technologies used by our members. The GSC invites your partnership in our organisation providing you with an opportunity to put your company’s trademark & products in front of these key industry professionals, who have a vested interest in your products. </p>

<p>GSC-Moorea will focus on Genomic Standards, Biodiversity, Climate Change, and Human Health and is intended for professionals within the fields of medical genomics, biodiversity, environmental genomics and climate studies, microbiome and metagenomics related to the sample collection, processing and genomic sequencing workflow critical for small and large scale datasets. It is our intention to discuss and plan for evolving genomic and laboratory standards to address the needs of the clinical, academic and industry researchers with a focus on improving all genomic workflows related to human health and biodiversity.</p>

<h6>Local Hosts:</h6><p><a href="https://www.moorea.berkeley.edu/" target=_blank >Gump Research Station</a> on the Island of Moorea, French Polynesia </p>


                <p>The topics of interest include, but are by no means limited
                to:</p>
				<ul>
                <li>Biodiversity</li>
                <li>Climate Change</li>
				<li>Human health</li>
				</ul>
   </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
	    <div class="card">
        <div class="card-header text-white bg-inverse"><strong>Organizing Committee</strong></div>
        {% if site.data.conference.program_committees %}
        {% for committee in site.data.conference.program_committees %}
        <div class="card-block bg-faded committee">
            <p><a href="{{ committee.homepage }}"><strong>{{ committee.name }}</strong></a><p>
            <p class="card-subtitle text-muted" style="font-size: 90%;">{{ committee.org }}</p>
        </div>  
        {% endfor %}
        {% else %}
        <div class="card-block bg-faded committee">
            <p><strong>TBA</strong><p>
            <p class="card-subtitle text-muted" style="font-size: 90%;">TBA</p>
        </div>               
        {% endif %}
        </div>
{% include card-important-dates.html %}

{% include card-news.html %}
   </div>
</div>
<!--# {% include sponsors.html %} -->

