---
layout: page
slide_id: 2
---

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 col-xl-10 offset-xl-1">

        {% for day in site.data.schedule %}
        <div>
            <h4 class="schedule-table-heading">Day {{ forloop.index }} - {{ day.dateReadable }}</h4>
            <table class="table table-bordered table-striped table-hover table-responsive table-sm">
            {% for timeslot in day.timeslots %}
                    <thead>
                            <tr>
                                <th class="bg-info text-center" style="vertical-align:middle">
                                        <div>{{timeslot.startTime}}-{{timeslot.endTime}}</div>
                                </th>
                                {% if timeslot.type == "service" %}
                                    <th class="bg-warning text-center">
                                            <p class="text-muted">{{timeslot.title}}</p>
                                    </th>
                                {% else %}
                                    <th class="bg-primary text-center">
                                            <h5>{{timeslot.title}}</h5>
                                            {% if timeslot.speaker %}
                                            <h5 class="accordion">{{timeslot.speaker}}</h5>
											<div class="panel"><p>{{timeslot.abstract}}</P></div>
                                            {% endif %}
                                            {% if timeslot.chair %}
                                                <h6>Session chair:{{timeslot.chair}}</h6>
                                            {% endif %}
                                    </th>
                                {% endif %}
                            </tr>
                    </thead>
                    {% if timeslot.events %}
                    <tbody>
                        {% for event in timeslot.events %}
                            <tr>
                                <td width="20%">
                                </td>
                                <td>
                                    <p class="accordion"><b>{{event.title}}</b></p>
									<div class="panel"><p>{{event.abstract}}</p></div>
                                    <p><i>{{event.speakers}}</i></p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
            {% endfor %}
            </table>
        </div>
        {% endfor %}

        {% include contact-us.html %}
    </div>
	<script>
		var acc = document.getElementsByClassName("accordion");
		var i;
		
		for (i = 0; i < acc.length; i++) {
			acc[i].addEventListener("click", function() {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.maxHeight) {
					panel.style.maxHeight = null;
				} else {
					panel.style.maxHeight = panel.scrollHeight + "px";
				} 
			});
		}	
	</script>
</div>

