---
layout: page
slide_id: 5
---


<div>
<h2> GSC 22-Moorea Sponsors</h2>
<h3> Your company logo could appear here<h3>
<br>
{% include sponsors.html %}
<br>
<h2> GSC 22-Moorea Sponsorship Opportunities:</h2>
<h3>Silver Sponsor</h3>
<p>Silver ($3000) sponsors will receive the following benefits:</h3> 
<ol>
  <li>Acknowledgment of your sponsorship on the GSC presentations, intermission slides including 
      links to your company’s website</li>
<li>Promotional discussion of company’s technology and innovations </li>
<li>Inclusion of the sponsor’s logo in meeting materials</li>
<li>One free meeting attendee</li>
<li>Signage at meeting</li>
</ol> 
         
<h3>Gold Sponsor</h3>
<p>Gold ($7500) sponsors will receive the following benefits: </p>
<ol>
<li>Guaranteed 10 minute speaking slot in the program of the annual GSC meeting. </li>
<li>Acknowledgment of your sponsorship on the GSC presentations, intermission slides including links to your company’s website</li>
<li>Promotional discussion of company’s technology and innovations </li>
<li>Inclusion of the sponsor’s logo in meeting materials</li>
<li>One free meeting attendee</li>
<li>Full-page symposium program advertisement</li>
<li>Organization name and logo recognition on meeting signage</li>
<li>Special recognition of Gold sponsor at symposium and in print and marketing materials</li>
<li>Distribution of sponsor materials (electronic) to virtual participants</li>
</ol>

<h3>Pineapple Platinum Sponsor</h3>
<p>Pineapple Platinum Sponsor ($8000) will receive the following benefits: </p>
<ol>
<li>Guaranteed 15 minute speaking slot - morning of Day 1 in the program of the annual GSC meeting </li>
<li>Opportunity to introduce keynote speaker</li>
<li>Sponsor representative to join GSC board for GSC-Moorea board dinner</li>
<li>Acknowledgment of your sponsorship on the GSC presentations, intermission slides </li>
<li>including links to your company’s website</li>
<li>Promotional discussion of company’s technology and innovations </li>
<li>Inclusion of the sponsor’s logo in meeting materials</li>
<li>One free meeting attendee</li>
<li>Full page advertisement in meeting literature and Handouts</li>
<li>Organization name and logo recognition on meeting signage</li>
<li>Special recognition of Pineapple Platinum sponsor at symposium and in print and marketing materials</li>
<li>Distribution of sponsor materials (electronic) to virtual participants</li>
</ol>

<h3>Custom Sponsorship Available</h3>
<p>Thank you for your time and for considering this request and please don’t hesitate to contact me for any further information. We look forward to your response to this partnership invitation at your earliest convenience by phoning myself on 410-706-6776 or email: lschriml@som.umaryland.edu.</p>
 

 
            {% include contact-us.html %}


    </div>
        <!--######### important dates ##########-->
        {% include card-important-dates.html %}
        <!--####################################-->
    </div>
</div>