---
layout: page
slide_id: 5
---


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">


<h2> GSC 22-Moorea Sponsorship Level Opportunities:</h2>
<h3>Silver Sponsor receive the following benefits at the $3000 level:</h3> 
<ol>
  <li>Acknowledgment of your sponsorship on the GSC presentations, intermission slides including 
      links to your company’s website</li>
<li>Promotional discussion of company’s technology and innovations </li>
<li>Inclusion of the sponsor’s logo in meeting materials</li>
<li>One free meeting attendee</li>
<li>Signage at meeting</li>
</ol> 
         
<h3>Gold Sponsor  receive the following benefits at the $7500 level: </h3>
<ol>
<li>Guaranteed 10 minute speaking slot in the program of the annual GSC meeting. </li>
<li>Acknowledgment of your sponsorship on the GSC presentations, intermission slides including links to your company’s website</li>
<li>Promotional discussion of company’s technology and innovations </li>
<li>Inclusion of the sponsor’s logo in meeting materials</li>
<li>One free meeting attendee</li>
<li>Full-page symposium program advertisement</li>
<li>Organization name and logo recognition on meeting signage</li>
<li>Special recognition of Gold sponsor at symposium and in print and marketing materials</li>
<li>Distribution of sponsor materials (electronic) to virtual participants</li>
</ol>

<h3>Pineapple Platinum Sponsor  receive the following benefits at the $8000 level: </h3>
<ol>
<li>Guaranteed 15 minute speaking slot - morning of Day 1 in the program of the annual GSC meeting </li>
<li>Opportunity to introduce keynote speaker</li>
<li>Sponsor representative to join GSC board for GSC-Moorea board dinner</li>
<li>Acknowledgment of your sponsorship on the GSC presentations, intermission slides </li>
<li>including links to your company’s website</li>
<li>Promotional discussion of company’s technology and innovations </li>
<li>Inclusion of the sponsor’s logo in meeting materials</li>
<li>One free meeting attendee</li>
<li>Full page advertisement in meeting literature and Handouts</li>
<li>Organization name and logo recognition on meeting signage</li>
<li>Special recognition of Pineapple Platinum sponsor at symposium and in print and marketing materials</li>
<li>Distribution of sponsor materials (electronic) to virtual participants</li>
</ol>

<h3>Custom Sponsorship Available</h3>
<p>Thank you for your time and for considering this request and please don’t hesitate to contact me for any further information. We look forward to your response to this partnership invitation at your earliest convenience by phoning myself on 410-706-6776 or email: lschriml@som.umaryland.edu.</p>
 

 
            {% include contact-us.html %}


    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <!--######### important dates ##########-->
        {% include card-important-dates.html %}
        <!--####################################-->
    </div>
</div>