---
layout: page
slide_id: 0
---


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">

        <h5>Present your work</h5>
        <p>While the main program of presentations is complete we are delighted to encourage as many participants as possible to create a poster presentation of their work to facilitate networking and sharing of ideas</p>
		<p>All posters will be displayed within the venue for the duration of the meeting, with specific times set aside for presentation of the posters each day. </p>
		
        <div class="text-info">Poster Submission Instructions:</div>

        <p>Submitted poster must be written in English, must be no larger than A0, and must include the author names and affiliations.</p>

        <p>To submit your poster abstract, please follow below link to the submission site:</p>

        <p class="text-center">
            <a href="https://easychair.org/conferences/?conf="><strong>Poster Submission Site</strong></a>
        </p>

        <p>Note that at least one of the authors of each poster must be registered to attend the meeting.</p>

 
            {% include contact-us.html %}


    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <!--######### important dates ##########-->
        {% include card-important-dates.html %}
        <!--####################################-->
    </div>
</div>