<div class="row sponsor">
    <div class="col">
        <h5>Pineapple Platinum</h5>
        {% if site.data.conference.1sponsors == nil %}
        <div class="alert alert-warning rounded text-center m-1">
            <p>TBA</p>
        </div>
        {% else %}
        <div class="row">
            {% for 1sponsor in site.data.conference.1sponsors %}
                <a href="{{ 1sponsor.link }}" target=_blank><img class="img-fluid mr-auto d-inline-block mb-2 mt-2" src="{{ site.baseurl }}{{ 1sponsor.logo_path }}" alt="{{ 1sponsor.name }}"></a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
	    <div class="col">
        <h5>Gold</h5>
        {% if site.data.conference.2sponsors == nil %}
        <div class="alert alert-warning rounded text-center m-1">
            <p>TBA</p>
        </div>
        {% else %}
        <div class="row">
            {% for 2sponsor in site.data.conference.2sponsors %}
                <a href="{{ 2sponsor.link }}" target=_blank><img class="img-fluid mr-auto d-inline-block mb-2 mt-2" src="{{ site.baseurl }}{{ 2sponsor.logo_path }}" alt="{{ 2sponsor.name }}"></a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
	    <div class="col">
        <h5>Silver</h5>
        {% if site.data.conference.3sponsors == nil %}
        <div class="alert alert-warning rounded text-center m-1">
            <p>TBA</p>
        </div>
        {% else %}
        <div class="row">
            {% for 3sponsor in site.data.conference.3sponsors %}
                <a href="{{ 3sponsor.link }}" target=_blank><img class="img-fluid mr-auto d-inline-block mb-2 mt-2" src="{{ site.baseurl }}{{ 3sponsor.logo_path }}" alt="{{ 3sponsor.name }}"></a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

